
.idea/libraries/Hibernate_5_4_11_5_4_11.xml
.idea/misc.xml
book-rest-api-reactjs.iml
src/main/java/com/mightyjava/Query_and_Ranker/Piepline.java
src/main/main.iml
target/classes/com/mightyjava/Application.class
target/classes/com/mightyjava/domain/SearchQuery.class
target/classes/com/mightyjava/domain/Trends.class
target/classes/com/mightyjava/Query_and_Ranker/FinalUrls.class
target/classes/com/mightyjava/Query_and_Ranker/ForPopularity$Link.class
target/classes/com/mightyjava/Query_and_Ranker/ForPopularity.class
target/classes/com/mightyjava/Query_and_Ranker/ImageIndexer.class
target/classes/com/mightyjava/Query_and_Ranker/ImageProcessorWI.class
target/classes/com/mightyjava/Query_and_Ranker/ImageQueryProcessor.class
target/classes/com/mightyjava/Query_and_Ranker/Indexer$Word.class
target/classes/com/mightyjava/Query_and_Ranker/Indexer.class
target/classes/com/mightyjava/Query_and_Ranker/NewQueryProcessor.class
target/classes/com/mightyjava/Query_and_Ranker/Piepline.class
target/classes/com/mightyjava/Query_and_Ranker/Popularity.class
target/classes/com/mightyjava/Query_and_Ranker/QueryProcessorForWI.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$FinalScore.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$Geographic_and_DatePublished.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$IDF.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$ImageRanker.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$Popularity_Relevance.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$ScoreTf_Idf.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$TF.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker.class
target/classes/com/mightyjava/Query_and_Ranker/test.class
target/classes/com/mightyjava/Query_and_Ranker/Trends.class
target/classes/com/mightyjava/Query_and_Ranker/TrendsWI.class
target/classes/com/mightyjava/Query_and_Ranker/WebCrawler.class
target/classes/com/mightyjava/repository/BookRepository.class
target/classes/com/mightyjava/repository/IndexRepo.class
target/classes/com/mightyjava/resource/impl/BookResourceImpl.class
target/classes/com/mightyjava/resource/impl/TrendsResourceImpl.class
target/classes/com/mightyjava/resource/Resource.class
target/classes/com/mightyjava/resource/TrendResource.class
target/classes/com/mightyjava/service/impl/BookServiceImpl.class
target/classes/com/mightyjava/service/impl/TrendsServiceImpl.class
target/classes/com/mightyjava/service/IService.class
target/classes/com/mightyjava/service/TrendService.class
target/classes/META-INF/book-rest-api-reactjs.kotlin_module
target/test-classes/com/mightyjava/ApplicationTests.class
.idea/libraries/Hibernate_5_4_11_5_4_11.xml
.idea/misc.xml
book-rest-api-reactjs.iml
src/main/java/com/mightyjava/Query_and_Ranker/Piepline.java
target/classes/com/mightyjava/Application.class
target/classes/com/mightyjava/domain/SearchQuery.class
target/classes/com/mightyjava/domain/Trends.class
target/classes/com/mightyjava/Query_and_Ranker/FinalUrls.class
target/classes/com/mightyjava/Query_and_Ranker/ForPopularity$Link.class
target/classes/com/mightyjava/Query_and_Ranker/ForPopularity.class
target/classes/com/mightyjava/Query_and_Ranker/ImageIndexer.class
target/classes/com/mightyjava/Query_and_Ranker/ImageProcessorWI.class
target/classes/com/mightyjava/Query_and_Ranker/ImageQueryProcessor.class
target/classes/com/mightyjava/Query_and_Ranker/Indexer$Word.class
target/classes/com/mightyjava/Query_and_Ranker/Indexer.class
target/classes/com/mightyjava/Query_and_Ranker/NewQueryProcessor.class
target/classes/com/mightyjava/Query_and_Ranker/Piepline.class
target/classes/com/mightyjava/Query_and_Ranker/Popularity.class
target/classes/com/mightyjava/Query_and_Ranker/QueryProcessorForWI.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$FinalScore.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$Geographic_and_DatePublished.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$IDF.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$ImageRanker.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$Popularity_Relevance.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$ScoreTf_Idf.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$TF.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker.class
target/classes/com/mightyjava/Query_and_Ranker/test.class
target/classes/com/mightyjava/Query_and_Ranker/Trends.class
target/classes/com/mightyjava/Query_and_Ranker/TrendsWI.class
target/classes/com/mightyjava/Query_and_Ranker/WebCrawler.class
target/classes/com/mightyjava/repository/BookRepository.class
target/classes/com/mightyjava/repository/IndexRepo.class
target/classes/com/mightyjava/resource/impl/BookResourceImpl.class
target/classes/com/mightyjava/resource/impl/TrendsResourceImpl.class
target/classes/com/mightyjava/resource/Resource.class
target/classes/com/mightyjava/resource/TrendResource.class
target/classes/com/mightyjava/service/impl/BookServiceImpl.class
target/classes/com/mightyjava/service/impl/TrendsServiceImpl.class
target/classes/com/mightyjava/service/IService.class
target/classes/com/mightyjava/service/TrendService.class
target/classes/META-INF/book-rest-api-reactjs.kotlin_module
target/test-classes/com/mightyjava/ApplicationTests.class
.idea/libraries/Hibernate_5_4_11_5_4_11.xml
.idea/misc.xml
book-rest-api-reactjs.iml
src/main/java/com/mightyjava/Query_and_Ranker/Piepline.java
target/classes/com/mightyjava/Application.class
target/classes/com/mightyjava/domain/SearchQuery.class
target/classes/com/mightyjava/domain/Trends.class
target/classes/com/mightyjava/Query_and_Ranker/FinalUrls.class
target/classes/com/mightyjava/Query_and_Ranker/ForPopularity$Link.class
target/classes/com/mightyjava/Query_and_Ranker/ForPopularity.class
target/classes/com/mightyjava/Query_and_Ranker/ImageIndexer.class
target/classes/com/mightyjava/Query_and_Ranker/ImageProcessorWI.class
target/classes/com/mightyjava/Query_and_Ranker/ImageQueryProcessor.class
target/classes/com/mightyjava/Query_and_Ranker/Indexer$Word.class
target/classes/com/mightyjava/Query_and_Ranker/Indexer.class
target/classes/com/mightyjava/Query_and_Ranker/NewQueryProcessor.class
target/classes/com/mightyjava/Query_and_Ranker/Piepline.class
target/classes/com/mightyjava/Query_and_Ranker/Popularity.class
target/classes/com/mightyjava/Query_and_Ranker/QueryProcessorForWI.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$FinalScore.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$Geographic_and_DatePublished.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$IDF.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$ImageRanker.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$Popularity_Relevance.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$ScoreTf_Idf.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker$TF.class
target/classes/com/mightyjava/Query_and_Ranker/Ranker.class
target/classes/com/mightyjava/Query_and_Ranker/test.class
target/classes/com/mightyjava/Query_and_Ranker/Trends.class
target/classes/com/mightyjava/Query_and_Ranker/TrendsWI.class
target/classes/com/mightyjava/Query_and_Ranker/WebCrawler.class
target/classes/com/mightyjava/repository/BookRepository.class
target/classes/com/mightyjava/repository/IndexRepo.class
target/classes/com/mightyjava/resource/impl/BookResourceImpl.class
target/classes/com/mightyjava/resource/impl/TrendsResourceImpl.class
target/classes/com/mightyjava/resource/Resource.class
target/classes/com/mightyjava/resource/TrendResource.class
target/classes/com/mightyjava/service/impl/BookServiceImpl.class
target/classes/com/mightyjava/service/impl/TrendsServiceImpl.class
target/classes/com/mightyjava/service/IService.class
target/classes/com/mightyjava/service/TrendService.class
target/classes/META-INF/book-rest-api-reactjs.kotlin_module
target/test-classes/com/mightyjava/ApplicationTests.class
