.AutoComplete{
    align-items: center;
    width: 70%
}
.AutoComplete ul{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}
.AutoComplete input{

    width: 70%;
    border:none;
    font-family: "Helvetica Neue", Arial;
    font-size: 14px;
    padding: 10px 5px;
    outline: none;
}
.AutoComplete ul ::before{
    content:"";
}
.AutoComplete li{
    padding: 10px 5px;
    cursor: pointer;
}
.AutoComplete li:hover{
    text-decoration: underline;
    background-color: rgba(128,128,128,0.20);
}

.AutoComplete li:hover{
    text-decoration: underline;
    background-color: rgba(128,128,128,0.20);
}
.WrappingElement{

    padding: 10%;
    background: rgb(16, 176, 230); /*for browsers that don't support gradient*/
    background: -webkit-linear-gradient(to bottom,rgb(16, 176, 230), rgb(13, 82, 82)); /*for safari and chrome*/
    background: -o-linear-gradient(to bottom,rgb(16, 176, 230),rgb(43, 44, 44)); /*for opera*/
    background: -moz-linear-gradient(to bottom,rgb(16, 176, 230),rgb(43, 44, 44)); /*for firefox*/
    background: linear-gradient(to bottom,rgb(16, 176, 230),rgb(43, 44, 44)); /*standard syntax*/}
.FixingTheImage {
    background: rgb(16, 176, 230); /*for browsers that don't support gradient*/
    background: -webkit-linear-gradient(to bottom,rgb(16, 176, 230),rgb(43, 44, 44)); /*for safari and chrome*/
    background: -o-linear-gradient(to bottom,rgb(16, 176, 230),rgb(43, 44, 44)); /*for opera*/
    background: -moz-linear-gradient(to bottom,rgb(16, 176, 230),rgb(43, 44, 44)); /*for firefox*/
    background: linear-gradient(to bottom,rgb(16, 176, 230),rgb(43, 44, 44)); /*standard syntax*/
    text-align: center;
}

.FixingTheImage .FixingTheImageItself{
    width:70%;
    padding: 30px;
}

.rc{
    padding-top: 10px;
    position: relative;
    display: block;
    width: 850px;
}
.r{
    line-height: 1.5;
    font-size: small;
    font-weight: normal;
}
.blackDiv{
    background-color: #2c445c;
}
.blackDiv.imageinsideit{

}